<div class="container">
  <mat-card *ngIf="showCreateCard()">
    <mat-card-title>
      Neues Spiel
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Wähle ein Spiel aus</mat-label>
        <mat-select [(value)]="selectedGameType">
          <div *ngFor="let gameType of gameTypes">
            <mat-option value="{{gameType}}">{{gameTypeToStr(gameType)}}</mat-option>
          </div>
        </mat-select>

      </mat-form-field>
      <pretty-button [disabled]="createGameDisabled()" [disabledDescription]="'Wähle zuerst ein Spiel aus'" [type]="'green-style'" [iconName]="'add'" [title]="'Spiel erstellen'" (btnClick)="createGame()"></pretty-button>

    </mat-card-content>
    <mat-card-actions align="end">

    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="getCreatedGames().length > 0">
    <mat-card-title>Erstellte Spiele</mat-card-title>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let game of getCreatedGames()" [expanded]="game.name === getJoinedGame()?.name">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img class="icon_image" [src]="getIconForGame(game)">
            <div class="game_title">{{game.name}}</div>
          </mat-panel-title>
          <mat-panel-description>
            <span class="warn" *ngIf="game.players.length<MIN_PLAYER_PER_GAME">Mindestens {{MIN_PLAYER_PER_GAME}} Spieler</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <player-list [game]="game"></player-list>
        <game-settings [game]="game"></game-settings>

        <mat-card-actions>
          <pretty-button *ngIf="!isJoinDisabled(game)" [type]="'green-style'" [iconName]="'add'" [title]="'Beitreten'" (btnClick)="joinGame(game)" [floatLeft]="true"></pretty-button>
          <pretty-button *ngIf="!isDeleteHidden(game)" [type]="'red-style'" [iconName]="'delete_forever'" [title]="'Spiel löschen'" (btnClick)="delete(game)" [floatLeft]="true"></pretty-button>
          <pretty-button *ngIf="!isLeaveDisabled(game)" [type]="'red-style'" [iconName]="'clear'" [title]="'Verlassen'" (btnClick)="leave(game)" [floatLeft]="true"></pretty-button>
          <pretty-button [disabled]="isStartGameDisabled(game)" [disabledDescription]="'Du darfst das Spiel nicht starten'" [type]="'green-style'" [iconName]="'play_arrow'" [title]="'Starten'" (btnClick)="startGame(game)" [floatLeft]="true"></pretty-button>
        </mat-card-actions>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
  <mat-card *ngIf="getRunningGames().length > 0">
    <mat-card-title>Laufende Spiele</mat-card-title>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let game of getRunningGames()" [expanded]="game.name === getJoinedGame()?.name">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img class="icon_image" [src]="getIconForGame(game)">
            <div class="game_title">{{game.name}}</div>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <player-list [game]="game"></player-list>

        <mat-card-actions>
          <pretty-button *ngIf="isReconnectEnabled(game)" [type]="'blue-style'" [iconName]="'redo'" [title]="'Erneut verbinden'" (btnClick)="reconnect(game)" [floatLeft]="true"></pretty-button>
          <pretty-button *ngIf="isDestroyGameEnabled(game)" [type]="'red-style'" [iconName]="'delete_forever'" [title]="'Spielabbruch'" (btnClick)="delete(game)" [floatLeft]="true"></pretty-button>
        </mat-card-actions>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
  <mat-card *ngIf="getFinishedGames().length > 0">
    <mat-card-title>Abgeschlossene Spiele</mat-card-title>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let game of getFinishedGames()" [expanded]="game.name === getJoinedGame()?.name">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img class="icon_image" [src]="getIconForGame(game)">
            <div class="game_title">{{game.name}}</div>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <player-list [game]="game"></player-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>

