<mat-toolbar *ngIf="isLoggedIn()">
  <h1>Konigames</h1>
  <span class="filler"></span>
  <button *ngIf="isLoggedIn()" type="button" routerLink="/lobby" mat-button>
    <mat-icon>group</mat-icon>
    Lobby
  </button>
  <button [hidden]="isLoggedIn()" type="button" mat-button *ngIf="loggedInIdentity && loggedInIdentity.name" routerLink="/lobby" >
    <mat-icon>account_circle</mat-icon>
    {{ loggedInIdentity.name }}
  </button>
  <button *ngIf="isLoggedIn()" type="button" routerLink="/login" (click)="identityService.logout()" mat-button>
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-toolbar>
